*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 5px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

/*start nav*/
.container .nav{
    background-color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid rgb(154, 151, 151) 3px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 30px ;
    margin-right: 10px ;

}
.container .nav ul li a {
    text-decoration: none;
    color:#c01c28;
    font-weight: bold;
    font-size: 25px;
    padding-left: 40px;
}
.container .nav ul li a:hover{
    color: black;
    transition-behavior:  0.4ms;

}
.container img {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 100px;
}
/*end nav*/

/*start home*/
.home{
    margin-top: 100px;
    position: relative;
    display: inline;
    z-index: 0;
    background-color: black;
}
.home img {
    opacity: 1;
    width: 100%;
    height: 1000px;
    border-bottom:  rgb(250, 0, 0);
}
.home h1 {
    position: absolute;
    top: 45%;
    left: 40%;
    color:#c01c28;
    padding: 15px;
}
.home h3{
    position: absolute;
    top: 55%;
    left:33%;
    color:#c01c28;
    font-size: 40px; 
    height: 70px;
}

/*end home*/

/*start services*/
.services{
    background-color: rgba(0, 0, 0, 0.839);
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height: 1.6;
}
.services div{
    margin-left: 10px ;
}
.services .right{
    display: flex;
}
.services .left{
    display: flex;
}
.services .left img {
    width: 50%;
}
.services .right img {
    width: 50%;
    
}
.carousel {
    position: relative;
    width: 900px;
    height: 800px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 900px;
    height: 800px;
    display: none;
}

.slider img.active {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev { left: 0; }
#next { right: 0; }

/* Dots styling */
.dots {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: white;
}
#services {
    scroll-margin-top: 110px; /* Adjust based on your navbar height */
}
/*end services*/

/*start about*/

#about {
    scroll-margin-top: 110px; /* Adjust based on your navbar height */
}
.about {
    padding: 50px 5px 50px 5px;
    display: flex;
    gap: 100px;
    border-top: solid rgba(0, 0, 0, 0.334);
    background-color: #f5f5f5;
    font-size: 25px;
}
/*end about*/

/*start contact*/
.contact {
    display: flex;
    justify-content: space-between;
}

.contact img{

    width: 49.5%;
    filter: blur(2px);
    opacity: 0.9;
}
.contact div{
    font-size: 30px;
    background-color: rgba(0, 0, 0);
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10px;
    color: white;
    width: 100%;
    justify-content: center;
}
.contact h2{
    margin-bottom: 30px;
}
.contact i {
    font-size: 50px;
    margin-left: 15px;
    margin-right: 15px ;
    margin-bottom: 25px;
}
/*end contact*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    background-color: black;
    height: 150px;
    width: 100%;
    position:relative;
    bottom: 0;
}
.footer .contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    background-color: black;
    font-size: 30px;
    color: black;
}
.footer .contact i {
    color: beige;
}
.footer .contact a:hover i{
    transform: scale(1.5);
}
.ayman{
    text-align: right;
    font-size: 15px;
    color: white;
    margin-right: 5px;
}
.ayman a{
    color: white;
    text-decoration: none;
}


@media (max-width: 768px){
    .container .nav {
        display: flex;
        justify-content: center;
    }
    .container .nav a {
    text-decoration: none;
    position: absolute;
    right: 20px;    
    }
    .home h1{
        top: 50%;
        left: 5%;
        font-size: 20px;
        color: #c01c28;
    }
    .home h3{
        display: none;
    }
    .home img {
        height: 500px;
    }
    .container .nav ul{
        display: none;
    }
    .services {
        display: flex;
        flex-direction: column;
    }
    .services h1{
        font-size: 40px;
    }
    .services p {
        font-size: 20px;

    }
    .services .img1{
        display: none;
    }
    .services .left img{
        display: none;
    }
    .services .right img{
        width: 400px;
        margin-left: -10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
    .left, .right {
        display: flex;
        flex-direction: column;
    }
    .left, .left {
        display: flex;
        flex-direction: column;
    }
    .about {
        height: 800px;
        margin: 0;
        padding: 0;

    }
    .about img {
        width: 100%;
        height: 900px;
    }
    .about .about-text {
        display: none;
    }
    .carousel {
        width: 400px;
        height: 800px;
    }
    .contact div{
        font-size: 13px;
        font-weight: bold;
    }
    .contact i {
        margin-left: 1px;
    }
    .contact h2 {
        margin-left: 35%;
        font-size: 30px;
    }
    .footer .ayman  {
        text-align: left;
        padding-left: 20px;
    }
}